*.root filter=lfs diff=lfs merge=lfs -text
out/preSelected_wDCremoval/SinglePhoton2017.root filter=lfs diff=lfs merge=lfs -text
out/preSelected_noDCremoval/SinglePhoton2017.root filter=lfs diff=lfs merge=lfs -text
